<template>

  <section class="header">
    <div id="logo">
      <img src="../assets/img/logo-weatherapp.png" alt="logo weatherapp dashboard"/>
      <h1>Weather App Dashboard</h1>
    </div>
  </section>

</template>

<script>
  export default  {
    name: 'Header',
  }