<template>

  <main class="home-page">
    <SearchBar></SearchBar>
    <MainRequest></MainRequest>
    <MeteoFixe></MeteoFixe>
  </main>

</template>

<script>
  import SearchBar from "./homePageEl/search-bar.vue"
  import MainRequest from "./homePageEl/main-request.vue"
  import MeteoFixe from "./homePageEl/meteo-fixe.vue"


  export default  {
    name: 'home-page',
    components: {
      SearchBar,
      MainRequest,
      MeteoFixe
    }
}
</script>
