<template>
  <div id="app">
    <nav role="navigation">
      <div id="menuToggle">
        <input type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <li><router-link to="/"><button type="button"><i class="material-icons">home</i><p>Home</p></button></router-link></li>
          <li><router-link to="/credits"><button type="button"><i class="material-icons">insert_photo</i><p>About</p></button></router-link></li>
          <li><router-link to="/contact"><button type="button"><i class="material-icons">email</i><p>Contact</p></button></router-link></li>
        </ul>
      </div>
    </nav>
    <Header></Header>
    <transition name="router-anim" enter-active-class="animated fadeIn faster">
      <router-view></router-view>
    </transition>
    <Footer></Footer> 
  </div>
</template>

<script>
import Header from "./components/header.vue"
import Footer from "./components/footer.vue"

export default {
  name: 'app',
  components: {
    Header,
    Footer
  }
}
</script>

<style lang="scss">
@import "./assets/scss/style.scss";

</style>
