/*
Title: meteoDashboard
Description: Style to weatherApp for VueJs project
author: Fabien Walesch
*/

// Imports
@import url("https://fonts.googleapis.com/css?family=Russo+One");
@import url("https://fonts.googleapis.com/css?family=Michroma");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./variables.scss";
@import "./mixins.scss";

// General style
html {
  background-image: $body-background;
  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat;
  margin: $margin;
  padding: $padding;
  h1, h2, h3, h4, h5 {
    font-family: $font-title;
    color: $grey;
  }
  body {
    background-color: transparent;
    width: 95%;
    min-height: $height;
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  p, a {
    font-family: $font-stack;
    color: $grey;
  }
  button {
    border: none;
  }
  .material-icons {
    color: $white;
  }
}

// Element style

// Nav style
#menuToggle {
  display: block;
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 1;
  @include user-select (none);
  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -20px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    @include touch-callout(none);
  }
  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    left: -25px;
    background: $white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
  }
  span:first-child {
    transform-origin: 0% 0%;
  }
  span:nt-last-child(2) {
    transform-origin: 0% 100%;
  }
  input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(1px, -1px);
  }
  input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menu {
    position: absolute;
    width: 150px;
    height: 552px;
    margin: -100px 0 0 -50px;
    padding: 30px;
    padding-left: 55px;
    padding-top: 125px;
    list-style-type: none;
    display: block;
    text-decoration: none;
    list-style-type: none;
    @include transition(color 0.3s ease);
    @include font-smoothing(antialiased);
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    li button p, li button i {
      display: inline-flex;
      @include transition(color 0.3s ease);
    }
    li button:hover, li button:hover p, li button:hover i {
      color: $red1;
    }
    li button {
      background-color: transparent;
      height: 35px;
      i {
        margin-right: 15px;
        vertical-align: bottom;
      }
      p {
        color: $white;
        margin: 0;
      }
    }
  }
  input:checked ~ #menu {
    transform: none;
  }
}


.header {
  width: $width;
  text-align: center;
  margin-bottom: 30px;
  #logo {
      margin-top: 15px;
      display:inline-block;
    img {
      width: 18%;
      height: auto;
    }
    h1 {
      position: relative;
      z-index: 2;
      font-size: 2.3em;
      margin-top: -70px;
      @include text-shadow(0 0 1px $white);
    }
  }
}
.home-page {
  width: $width;
  text-align: center;
  #search-bar {
    display: inline-block;
    width: 90%;
    height: auto;
    margin-bottom: 10px;
    input{
      display: inline-block;
      width: 60%;
      height: 31px;
      border: none;
      border-bottom: solid 1px $grey;
      vertical-align: bottom;
      @include box-shadow(none);
      font-family: $font-stack;
      background-color: transparent;//rgba(255, 255, 255, .6);
      margin-right: 5px;
      padding-left: 10px;
    }
    input:focus{
      background-color: rgba(255, 255, 255, .3);
      @include transition(background .5s);
    }
    ::placeholder{
      color: $grey;
      }
    // Button Style
    .button {
      height: 35px;
      display: inline-block;
      background-color: $red1;
      background-position: center;
      padding: 0 10px 0 10px;
      @include border-radius(5px);
      @include transition(background 0.8s);
      cursor: pointer;
      vertical-align: sub;
      p{
        display: inline-block;
        margin: 0;
        color: $white;
        font-size: 1.5em;
        @include text-shadow(1px 1px 1px $grey);
      }
      i {
        display: inline-block;
        vertical-align: baseline;
        font-size: 18px;
        @include text-shadow(1px 1px 1px $grey);
      }
    }
    .button:hover {
      background: #FF7B5B radial-gradient(circle, transparent 1%, #FF7B5B 1%) center/15000%;
    }
    .button:active {
      background-color: #FFA97E;
      background-size: 100%;
      @include transition(background 0s);
    }
  }
  .screen {
    background-color: rgba(0, 0, 0, .5);
    @include border-radius(5px);
    height: auto;
    p, i {
      color: $white;
    }
    i {
      font-size: 3em;
    }
  }
  #main-request {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    .top {
      display: inline-flex;
      width: 100%;
      .city-name {
        margin-left: 5%;
        margin-right: auto;
      }
      div {
        display: inline-flex;
        width: 50%;
        margin-right: 2%;
        p {
          margin-left: auto;
          margin-right: auto;
          margin-top: 0;
        }
        .city-temp {
          font-size: 2.2em;
          font-weight: 600;
        }
        .city-pres {
          font-size: 2em;
          margin-top: 4px;
        }
      }
    }
    .middle {
      i {
        font-size: 7em;
      }
    }
    .bottom {
      display: inline-flex;
      width: 100%;
      margin-bottom: 5px;
      .resent {
        margin-left: 5%;
        margin-right: auto;
      }
      .humidity {
        margin-right: 5%;
      }
    }

  }
  #meteo-fixe {
    display: inline-flex;
    margin-top: 28px;
    width: 65%;
    .meteo-fixe-screen {
      width: 31%;
      .city-name {
        font-size: 0.8em;
      }
      div {
        display: inline-block;
        .city-temp {
          margin-top: 0;
          font-size: 2.2em;
          font-weight: 500;
        }
        i {
          margin-top: -20px;
          margin-bottom: 20px;
        }
      }
    }
    .center {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.footer {
  position: absolute;
  left: 0;
  right: 0;
  p{
    font-size: 0.6em;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
  }
}
