<template>

  <section id="main-request">
    <div class="screen">
      <div class="top">
        <p class="city-name">City Name</p>
        <div>
          <p class="city-temp">30°C</p>
          <p class="city-pres">1500 hPa</p>
        </div>
      </div>
      <div class="middle">
        <i class="wi wi-day-sunny"></i>
      </div>
      <div class="bottom">
        <p class="resent">27°C</p>
        <p class="humidity">25 %</p>
      </div>
    </div>
  </section>

</template>

<script>
  export default  {
    name: 'MainRequest',
    props: [],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}
</script>
