<template>

  <section id="meteo-fixe">
    <div class="screen meteo-fixe-screen">
      <p class="city-name">City Name</p>
      <div>
        <p class="city-temp">30°C</p>
        <i class="wi wi-day-sunny"></i>
      </div>
    </div>
    <div class="screen meteo-fixe-screen center">
      <p class="city-name">City Name</p>
      <div>
        <p class="city-temp">30°C</p>
        <i class="wi wi-day-sunny"></i>
      </div>
    </div>
    <div class="screen meteo-fixe-screen">
      <p class="city-name">City Name</p>
      <div>
        <p class="city-temp">30°C</p>
        <i class="wi wi-day-sunny"></i>
      </div>
    </div>
  </section>

</template>

<script>
  export default  {
    name: 'MeteoFixe',
    props: [],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}
</script>
