<template>

  <section id="search-bar">
    <form action="post" method="post">
      <input type="text" name="city-request" id="city-request" placeholder="Tape your City request here">
      <div class="button" type="submit">
        <p>Send</p>
        <i class="material-icons md-18">send</i>
      </div>
    </form>
  </section>

</template>

<script lang="js">
  export default  {
    name: 'SearchBar',
    props: [],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}
</script>
